<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modale-title">Nueva Persona</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{%url 'nueva_persona'%}" method="post">
        <div class="modal-body">
        {% load widget_tweaks %}
        {%csrf_token%}
        <label class="control-label">CI</label>
        {{form.ci| attr:"class:form-control"| attr:"rows:1"}}
        <label class="control-label">Nombre</label>
        {{form.nombre| attr:"class:form-control"}}
        <label class="control-label">Apellidos</label>
        {{form.apellidos| attr:"class:form-control"| attr:"rows:1"}}
        <label class="control-label">Cargo</label>
        {{form.cargo| attr:"class:form-control"| attr:"rows:1"}}
        <label class="control-label">Telefono</label>
        {{form.telefono| attr:"class:form-control"| attr:"type:phone"}}
        <label class="control-label">Correo</label>
        {{form.correo| attr:"class:form-control"| attr:"type:email"}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </div>
            </form>
    </div>
</div>