<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modale-title">Nueva Solicitud</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{%url 'nueva_solicitud'%}" method="post">
        <div class="modal-body">
        {% load widget_tweaks %}
        {%csrf_token%}
         <label class="control-label">Tipo de Solicitud</label>
                {{form.tipo_solicitud| attr:"class:form-control"}}
                <label class="control-label">Contrato de Compraventa</label>
                {{form.contrato| attr:"class:form-control"| attr:"rows:1"}}
                <label class="control-label">Fecha de Solicitud</label>
                {{form.fecha_Solicitud| attr:"class:form-control"|attr:"type:date"}}
                <label class="control-label">Fecha de la Inspeccion</label>
                {{form.fecha_Inspeccion| attr:"class:form-control"|attr:"type:date"}}
                <label class="control-label">Cliente</label>
                {{form.id_cliente| attr:"class:form-control"}}
                <label class="control-label">Vendedor</label>
                {{form.vendedor| attr:"class:form-control"}}
                <label class="control-label">Comprador</label>
                {{form.comprador| attr:"class:form-control"}}
                <label class="control-label">Receptor</label>
                {{form.receptor| attr:"class:form-control"}}
                <script>
                function toggle(o) {
                var buque=document.querySelector(".buque");
                var contenedor=document.querySelector(".contenedor");
                if (o.value=="contenedor"){
                contenedor.style.display="block";
                buque.style.display="none";}
                else{
                contenedor.style.display="none";
                buque.style.display="block";}
                }
                </script>
                    <label>Medio de Carga</label>
                {{form.medio| attr:"class:form-select"| attr:"onclick:toggle(this)"}}
                <div style="display: none" class="contenedor">
                    <label class="control-label">Contenedor</label>
                    <input type="text">
                </div>
                <div style="display: block" class="buque">
                    <label class="control-label">Buque</label>
                    <input type="text">
                </div>

                <label class="control-label">Servicio</label>
                {{form.servicio| attr:"class:list-group"}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </div>
            </form>
    </div>
</div>