{% extends '_layout.html' %}
{%block pagina%}Ordenes{%endblock%}
{%block title%}Ordenes{%endblock%}
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="carda-body">
        <h2 class="p-4">Listado de Ordenes</h2>
        <div class="p-4">
            {%if perms.Operaciones.add_orden%}
             <button onclick="abrir('{%url 'nueva_orden'%}')"  class="btn btn-danger">Nuevo</button>
            {%endif%}
             <br>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                <th scope="col">No. de Orden</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha de Inspeccion</th>
                <th scope="col">Ver Fotos</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
                {%for c in ordenes%}
                <tr>
                <td>{{c.no_orden}}</td>
                <td>{{c.solicitud.id_cliente.empresa.nombre}}</td>
                <td>{{c.solicitud.fecha_Inspeccion}}</td>
                <td>
                    <a href="{%url 'subir_imagenes'%}" class="btn btn-secondary"><i class="bi bi-paperclip"></i></a>
                    <a href="{%url 'ver_imagenes' c.no_orden%}" class="btn btn-secondary"><i class="bi bi-search"></i></a></td>
                <td>
                    {%if perms.Operaciones.change_orden%}
                    <a href="{%url 'modificar_orden' c.id%}"  class="btn btn-success"><i class="bi bi-pencil-fill"></i></a>|
                    {%endif%}
                    {%if perms.Operaciones.delete_orden%}
                    <a href="#" onclick="eliminar({{c.id}})" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a></td>
                    {%endif%}
            </tr>
                {%endfor%}
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
{% endblock %}
{%block js%}
<script type="text/javascript">
    function abrir(url){
    $('#edicion').load(url, function(){
    $(this).modal('show');
    })
    }
    function eliminar(id){
     Swal.fire({
     "title":"¿Estas seguro?",
     "text": "esta accion no se puede deshacer",
     "icon":"question",
     "showCancelButton":true,
     "cancelButtonText":"No, Cancelar",
     "confirmButtonText":"Si, Eliminar",
     "reverseButtons":true,
     "confirmButtonColor":"#dc3545",
     })
     .then(function(result){
     if(result.isConfirmed){
     window.location.href="/eliminar_orden/"+id+"/"
     }
     }
     )
     }
</script>
{%endblock%}