{% extends '_layout.html' %}
{% block contenido %}
<br>
<br>
<div class="card">
    <div class="carda-body">
        <h2 class="p-4">Seleccione Imagen</h2>
        <div class="p-4 formu">
            <form action="" method="post" enctype="multipart/form-data">
    <form  role="form"  enctype="multipart/form-data" action="" method="POST" id="upload-image-form">
        {% load widget_tweaks %}
        {% csrf_token %}
        <label class="control-label">Numero de Orden</label>
        {{form.orden| attr:"class:form-control"}}
        <label class="control-label">Imagen</label>
        {{form.image| attr:"class:form-control"}}
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Confirmar</button>
                 </div>
        </form></div>
</div>
</div>

{% endblock %}