{% extends '_layout.html' %}
{% block title %}{% block pagina %}Atletas{% endblock %}{% endblock %}
{% block contenido %}
    <br>
    <div class="card">
        <div class="carda-body">
            <h2 class="p-4">Listado de Atletas</h2>
            <div class="p-4">
                <button onclick="abrir('{% url 'nuevo_atleta' %}')" class="btn btn-danger">Nuevo</button>
                <br>
                <br>
                <div class="table-responsive" id="mydatatable-container">
                    <table class="dataTable">
                        <thead>
                        <tr>
                            <th scope="col">Foto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Fecha de Nacimiento</th>
                            <th scope="col">Deporte</th>
                            <th scope="col">Disciplina</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in atletas %}
                            <tr>
                                <td><img style="width: 30px; height: 30px" src="{{ c.image.url }}"></td>
                                <td>{{ c.nombre }}</td>
                                <td>{{ c.apel }}</td>
                                <td>{{ c.fecha }}</td>
                                <td>
                                    {% for a in c.disciplina.all %}
                                        *{{ a.deporte_id }} </br>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for a in c.disciplina.all %}
                                        *{{ a }} </br>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{% url 'modificar_atleta' c.id %}" class="btn btn-sm btn-info"><i
                                            class="bi bi-pencil"></i> Editar</a>
                                    ||
                                    <a onclick="eliminar({{ c.id }})" class="btn btn-sm btn-danger"><i
                                            class="bi bi-trash"></i> Eliminar
                                    </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edicion" role="dialog">

    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function abrir(url) {
            $('#edicion').load(url, function () {
                $(this).modal('show');
            })
        }

        function eliminar(id) {
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "esta accion no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "reverseButtons": true,
                "confirmButtonColor": "#dc3545",
            })
                .then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = "/eliminar_atleta/" + id + "/"
                        }
                    }
                )
        }
    </script>
{% endblock %}