<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modale-title">Nuevo Atleta</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'nuevo_atleta' %}" method="post">
            <div class="modal-body">
                {% load widget_tweaks %}
                {% csrf_token %}
                <label class="control-label">Nombre</label>
                {{ form.nombre | attr:"class:form-control"| attr:"rows:1" }}
                <label class="control-label">Apellidos</label>
                {{ form.apel | attr:"class:form-control"| attr:"rows:1" }}
                <label class="control-label">Fecha de Nacimiento</label>
                {{ form.fecha | attr:"class:form-control"| attr:"rows:1" | attr:"type:date" }}
                <label class="control-label">Disciplinas Deportivas</label>
                {{ form.disciplina | attr:"class:form-control"| attr:"Multiple"| attr:"id:select"| attr:"class:selectpicker"| attr:"data-live-search:true" }}
                <label class="control-label">Foto</label>
                {{ form.image| attr:"class:form-control"| attr:"rows:1"| attr:"type:file" }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Confirmar</button>
            </div>
        </form>
    </div>
</div>